___

<div style="text-align: center;">
  <span style="font-family: 'Playfair Display', serif; font-size: 24px; font-weight: bold;">
    Dataset Explotation
  </span>
</div>

___


In this notebook, the **Dataset Exploration** section aims to provide an in-depth analysis of the dataset. It does an identification and selection of columns that are most relevant for the analysis, discarding those that do not contribute to the visualization or modeling goals.

In [23]:
# Imports
import duckdb
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings("ignore")

import sys
import os
current_dir = os.path.dirname(os.path.abspath('__file__'))
parent_dir = os.path.abspath(os.path.join(current_dir, os.pardir))

# Agregate the dic to sys.path
if parent_dir not in sys.path:
    sys.path.append(parent_dir)
import utils

## Connection to formatted database
jdbc_url = 'jdbc:duckdb:./../data/trusted_zone/barcelona_processed.db'
driver = "org.duckdb.DuckDBDriver"

# SparkSession inicialitzation
spark = SparkSession.builder\
    .config("spark.jars", "./../lib/duckdb.jar") \
    .appName("DataExplotation") \
    .getOrCreate()

---

### $\Rightarrow$ Criminal Dataset
---
**DataFrame Schema**

The DataFrame comprises various groups of columns, each providing distinct details related to property listings:

 - **any**: decimal(20,0) (nullable = true)
 - **num_mes**: decimal(20,0) (nullable = true)
 - **nom_mes**: string (nullable = true)
 - **regio_policial**: string (nullable = true)
 - **neighbourhood**: string (nullable = true)
 - **provincia**: string (nullable = true)
 - **comarca**: string (nullable = true)
 - **municipi**: string (nullable = true)
 - **tipus_de_lloc_dels_fets**: string (nullable = true)
 - **canal_dels_fets**: string (nullable = true)
 - **tipus_de_fet**: string (nullable = true)
 - **titol_del_fet_codi_penal**: string (nullable = true)
 - **tipus_de_fet_codi_penal**: string (nullable = true)
 - **ambit_fet**: string (nullable = true)
 - **nombre_fets_o_infraccions**: decimal(20,0) (nullable = true)
 - **nombre_victimes**: double (nullable = true)
</div>

In [24]:
df_criminal = spark.read \
  .format("jdbc") \
  .option("url", jdbc_url) \
  .option("driver", driver) \
  .option("query", "SELECT * FROM df_criminal_dataset") \
  .load()


**Remove redundant columns**: 

In this step, we remove the redundant columns from the DataFrame that are not of interest for our analysis. These columns include: 

1. **provincia, comarca, municipi, regio_policial**: 
    - Provide geographical information already captured in the `neighbourhood` column. Retaining these columns would add redundancy to our data without providing additional relevant information for our analysis.

2. **nombre_fets_o_infraccions**: 
    - With the same value ('1') across all rows, this column lacks of useful information for our analysis. Its removal simplifies our data without losing relevant information about the occurrence of events.

3. **tipus_de_fet**: 
    - While this column categorizes incidents into different categories such as 'Delictes' (crimes) and 'Infraccio administrativa' (administrative infractions), these categories do not significantly contribute to our analysis focused on criminality by neighborhood and a more specific type of crime.

4. **canal_dels_fets**: 
    - The classification of incident reporting modes is not essential for our analysis of criminality by neighborhood and type of crime. Its removal simplifies our data by eliminating details that do not directly impact our research.

5. **titol_del_fet_codi_penal**: 
    - Titles associated with the criminal code lack structure and specificity, making them less useful for understanding the precise nature of incidents. By removing this column, we reduce noise in our data and focus on variables more relevant to our analysis.

6. **any, num_mes**: 
    - These columns do not provide relevant information for our analysis objective and are not used in our analysis. Removing them simplifies our dataset without losing any meaningful insights.
    - **nom_mes**: This column will provide information of the visualitzation part of the project. 

7. **tipus_de_lloc_dels_fets**: 
    - This column does not provide important information for calculating the crime index. Its removal streamlines our dataset without impacting our ability to analyze criminality by neighborhood and month.

8. **titol_del_fet_codi_penal, tipus_de_fet_codi_penal**: 
    - These columns also do not provide significant information for calculating the crime index. Removing them reduces noise in our dataset and allows us to focus on variables more directly related to our analysis objective.

In [25]:
columns_to_drop = ['provincia', 'comarca', 'municipi', 'regio_policial', 'nombre_fets_o_infraccions', 
                   'tipus_de_fet', 'canal_dels_fets', 'titol_del_fet_codi_penal', 'any','num_mes', 
                'tipus_de_lloc_dels_fets', 'titol_del_fet_codi_penal', 'tipus_de_fet_codi_penal']
df_criminal = df_criminal.drop(*columns_to_drop)

In [26]:
df_criminal.limit(1).toPandas()

  nom_mes neighbourhood             type_crime  nombre_victimes
0    Juny    Nou Barris  Political orientation              1.0

In [27]:
# Aplica la funci√≥n y muestra algunos resultados para verificar
df_criminal = utils.calculate_index_criminality(df_criminal)
total_index = df_criminal.select('criminality_index').distinct().rdd.map(lambda row: row['criminality_index']).sum()
print(f"Total Index: {total_index}")

Total Index: 0.8770226537216829

In [28]:
df_criminal.printSchema()
df_criminal.limit(1).toPandas()

root
 |-- nom_mes: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- type_crime: string (nullable = true)
 |-- nombre_victimes: double (nullable = true)
 |-- criminality_index: double (nullable = true)

,nom_mes,neighbourhood,type_crime,nombre_victimes,criminality_index
0,Juny,Nou Barris,Political orientation,1.0,0.053398

---

### $\Rightarrow$ Airbnb Dataset
---
**DataFrame Schema**

The DataFrame comprises various groups of columns, each providing distinct details related to property listings:

 - name: string (nullable = true)
 - summary: string (nullable = true)
 - host_id: string (nullable = true)
 - host_url: string (nullable = true)
 - host_name: string (nullable = true)
 - host_since: string (nullable = true)
 - host_location: string (nullable = true)
 - host_thumbnail_url: string (nullable = true)
 - host_picture_url: string (nullable = true)
 - host_listings_count: double (nullable = true)
 - host_total_listings_count: double (nullable = true)
 - host_verifications: string (nullable = true)
 - neighbourhood_cleansed: string (nullable = true)
 - neighbourhood: string (nullable = true)
 - city: string (nullable = true)
 - market: string (nullable = true)
 - smart_location: string (nullable = true)
 - country_code: string (nullable = true)
 - country: string (nullable = true)
 - latitude: string (nullable = true)
 - longitude: string (nullable = true)
 - property_type: string (nullable = true)
 - room_type: string (nullable = true)
 - accommodates: decimal(20,0) (nullable = true)
 - bathrooms: double (nullable = true)
 - bedrooms: double (nullable = true)
 - beds: double (nullable = true)
 - bed_type: string (nullable = true)
 - price: double (nullable = true)
 - security_deposit: double (nullable = true)
 - cleaning_fee: double (nullable = true)
 - guests_included: decimal(20,0) (nullable = true)
 - extra_people: decimal(20,0) (nullable = true)
 - minimum_nights: decimal(20,0) (nullable = true)
 - maximum_nights: decimal(20,0) (nullable = true)
 - calendar_updated: string (nullable = true)
 - availability_30: decimal(20,0) (nullable = true)
 - availability_60: decimal(20,0) (nullable = true)
 - availability_90: decimal(20,0) (nullable = true)
 - availability_365: decimal(20,0) (nullable = true)
 - calendar_last_scraped: string (nullable = true)
 - number_of_reviews: decimal(20,0) (nullable = true)
 - cancellation_policy: string (nullable = true)
 - features: string (nullable = true)

In [29]:
df_airbnb = spark.read \
  .format("jdbc") \
  .option("url", jdbc_url) \
  .option("driver", driver) \
  .option("query", "SELECT * FROM df_airbnb_listings") \
  .load()

**Remove redundant columns**: 

In this step, we remove the redundant columns from the DataFrame that are not of interest for our analysis. These columns include: 

1. Host Information: **host_url, host_name, host_location, host_thumbnail_url, host_picture_url, host_listings_count**
    - These columns contain specific information about the host that does not directly influence the price of the accommodation. The host's location or image does not affect the value of the property itself.

2. Location Data: **neighbourhood_cleansed, city, market, smart_location, country_code, country**
    - These columns contain location data that might be redundant. For example, the city or country is not as specific as other location data already present that directly affects the price, such as the neighborhood, latitude and longitude.

3. Availability and Calendar Data: **calendar_updated, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped**
    - These fields refer to the availability of the Airbnb and the frequency with which the calendar is updated. While they might provide information about supply and demand, they do not directly affect the price of the property. The price is more influenced by the physical characteristics and location of the property.

4. Other Irrelevant Data: **summary, features**
    - These columns contain general descriptions or additional features that do not have a direct and quantifiable impact on the rental price. The summary might be a written description that is not useful for predictive models, and features might contain redundant information for the analysis.

In [30]:
columns_to_drop = [
    'summary',
    'host_url',
    'host_name',
    'host_location',
    'host_thumbnail_url',
    'host_picture_url',
    'host_listings_count',
    'neighbourhood_cleansed',
    'city',
    'market',
    'smart_location',
    'country_code',
    'country',
    'calendar_updated',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_365',
    'calendar_last_scraped',
    'features'
]

df_airbnb = df_airbnb.drop(*columns_to_drop)

In [31]:
df_airbnb.printSchema()
df_airbnb.limit(1).toPandas()

root
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_since: string (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: decimal(20,0) (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- bed_type: string (nullable = true)
 |-- price: double (nullable = true)
 |-- security_deposit: double (nullable = true)
 |-- cleaning_fee: double (nullable = true)
 |-- guests_included: decimal(20,0) (nullable = true)
 |-- extra_people: decimal(20,0) (nullable = true)
 |-- minimum_nights: decimal(20,0) (nullable = true)
 |-- maximum_nights: decimal(20,0) (nullable = true)
 |-- number_of_reviews: decimal(20,0) (nullable = true)
 |-- cancellation_policy: string (nullable = true)

,name,host_id,host_since,host_total_listings_count,host_verifications,neighbourhood,latitude,longitude,property_type,room_type,...,bed_type,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,cancellation_policy
0,Piso cerca del Cam Nou,38925857,2015-07-19,1.0,"email, phone, reviews, jumio",Les Corts,41.378150177192396,2.122075545481956,Apartment,Private room,...,Real Bed,21.0,0.0,0.0,1,7,1,1125,1,moderate

---
### $\Rightarrow$ Locations TripAvisor Dataset
---
**DataFrame Schema**

The DataFrame comprises various groups of columns, each providing distinct details related to property listings:

 - location_id: string (nullable = true)
 - name: string (nullable = true)
 - distance: string (nullable = true)
 - bearing: string (nullable = true)
 - address_obj_city: string (nullable = true)
 - address_obj_state: string (nullable = true)
 - address_obj_country: string (nullable = true)
 - address_obj_address_string: string (nullable = true)
 - type: string (nullable = true)
 - neighbourhood: string (nullable = true)
 - __index_level_0__: decimal(20,0) (nullable = true)
 - latitude: float (nullable = true)
 - longitude: float (nullable = true)

In [32]:
df_locations = spark.read \
  .format("jdbc") \
  .option("url", jdbc_url) \
  .option("driver", driver) \
  .option("query", "SELECT * FROM df_tripadvisor_locations") \
  .load()
df_locations.limit(1).toPandas()

,location_id,name,distance,bearing,address_obj_city,address_obj_state,address_obj_country,address_obj_address_string,type,neighbourhood,__index_level_0__,latitude,longitude
0,27200794,Anna Subirats Xarcuteria,0.03857963183663804,east,Barcelona,Province of Barcelona,Spain,"Carrer De Sepulveda, 167, 08011 Barcelona Spain",restaurant,Eixample,190,41.383205,2.162197

Remove redundant columns: 

In this step, we remove the redundant columns from the DataFrame that are not of interest for our analysis. These columns include: 

1. **distance**:
    - While distance might seem useful at first glance, the format of this data can be inconsistent or unclear without a unit of measurement (e.g., meters, kilometers). Additionally, if precise geolocation (latitude and longitude) is available, distance can be calculated more accurately and consistently using those values.

2. **bearing**: 
    - Indicates the direction to the attraction from a reference point, but without specific context, it doesn't provide meaningful information about proximity. It is also less intuitive for most users compared to geolocation.

3. **address_obj_city**:
    - This field indicates the city of the address object. It is too general to be useful for identifying nearby attractions, as it does not provide specific proximity information. Attractions within the same city can still be far apart.

4. **address_obj_state**:
    - Similar to the city, the state information is too broad and does not help in determining what attractions are nearby an Airbnb.

5. **address_obj_country**:
    - Country information is even more general than state or city and is not useful for determining proximity to nearby attractions.

6. **address_obj_address_string**:
    - This is a textual representation of the address which can be useful for human reading but not for computational proximity analysis. Latitude and longitude coordinates are far more precise for identifying nearby attractions.

7. **__index_level_0__**:
    - This column appears to be an internal or indexing column from tripadvisor that does not provide any useful information about the proximity of attractions.

In [33]:
columns_to_drop = [
    'distance',
    'bearing',
    'address_obj_city',
    'address_obj_state',
    'address_obj_country',
    'address_obj_address_string',
    '__index_level_0__',
]

df_locations = df_locations.drop(*columns_to_drop)

In [34]:
df_locations.printSchema()
df_locations.limit(1).toPandas()

root
 |-- location_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)

,location_id,name,type,neighbourhood,latitude,longitude
0,27200794,Anna Subirats Xarcuteria,restaurant,Eixample,41.383205,2.162197

---

### $\Rightarrow$  Reviews TripAvisor Dataset
---
**DataFrame Schema**

The DataFrame comprises various groups of columns, each providing distinct details related to property listings:

 - id: decimal(20,0) (nullable = true)
 - lang: string (nullable = true)
 - location_id: decimal(20,0) (nullable = true)
 - published_date: string (nullable = true)
 - rating: decimal(20,0) (nullable = true)
 - helpful_votes: decimal(20,0) (nullable = true)
 - rating_image_url: string (nullable = true)
 - url: string (nullable = true)
 - text: string (nullable = true)
 - title: string (nullable = true)
 - user_username: string (nullable = true)
 - user_user_location_id: string (nullable = true)

In [35]:
df_reviews = spark.read \
  .format("jdbc") \
  .option("url", jdbc_url) \
  .option("driver", driver) \
  .option("query", "SELECT * FROM df_tripadvisor_reviews") \
  .load()

**Remove redundant columns**: 

In this step, we remove the redundant columns from the DataFrame that are not of interest for our analysis. These columns include: 

1. Review Metadata: **id, url, user_username, user_user_location_id**
    - These columns contain specific information about the review and the user who wrote it. They are useful for identifying and referencing reviews but do not provide any information about the proximity of attractions.

2. Review Context: **lang, published_date**
    - These columns provide context about the review, such as the language in which it is written and the publication date. They are useful for filtering and understanding the context of the reviews but do not offer spatial information about nearby attractions.

3. User Interaction: **helpful_votes, rating_image_url**
    - These columns indicate user interaction and the visual representation of the rating. While they are useful for measuring the usefulness and visual perception of the review, they do not contain any location data.

In [36]:
columns_to_drop = [
    'id',
    'lang',
    'published_date',
    'helpful_votes',
    'rating_image_url',
    'url',
    'user_username',
    'user_user_location_id'
]

df_reviews = df_reviews.drop(*columns_to_drop)

In [37]:
df_reviews.printSchema()
df_reviews.limit(1).toPandas()

root
 |-- location_id: decimal(20,0) (nullable = true)
 |-- rating: decimal(20,0) (nullable = true)
 |-- text: string (nullable = true)
 |-- title: string (nullable = true)

,location_id,rating,text,title
0,8821646,5,"Stopped for a light bites chicken, chips, rice...",Good value tasty food.

---
### $\Rightarrow$  Store data to the explotation zone
---

In [38]:
# Prepare the DuckDB connection
con = duckdb.connect(database='./../data/explotation_zone/barcelona_processed.db', read_only=False)
con.close()

## Write on the tables 
print('Writting tables...')
jdbc_url = 'jdbc:duckdb:./../data/explotation_zone/barcelona_processed.db'
driver = "org.duckdb.DuckDBDriver"

print('    - Criminal table')
df_criminal.write \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "df_criminal_dataset") \
    .option("driver", driver) \
    .mode("overwrite") \
    .save()

print('    - Aribnb table')
df_airbnb.write \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "df_airbnb_listings") \
    .option("driver", driver) \
    .mode("overwrite") \
    .save()

print('    - Tripadvisor Locations table')
df_locations.write \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "df_tripadvisor_locations") \
    .option("driver", driver) \
    .mode("overwrite") \
    .save()

print('    - Tripadvisor Reviews table')
df_reviews.write \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "df_tripadvisor_reviews") \
    .option("driver", driver) \
    .mode("overwrite") \
    .save()

spark.stop()
con.close()

Writting tables...
    - Criminal table

    - Aribnb table

    - Tripadvisor Locations table

    - Tripadvisor Reviews table